body {
    background-color: #EEF9BF;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    text-align: center;
    margin: 40px 0px 50px 0px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    height: 146px;
    width: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A7E9AF;
    margin: 0px 0px 30px 30px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.card span {
    display: none;
}

.card img {
    height: 100px;
    width: 100px;
}

.hidden {
    display: none;
}

.card:active {
    transform: rotateY(180deg);
  }

@media(max-width: 414px){
    .top {
        font-size: 36px;
    }

    .cards {
        width: 60%;
    }
}
